#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.list-group-item {
  background: #383737 !important;
  padding: 5px !important;
}

.list-group-item a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.rickH {
  margin: 0px;
  color: rgb(32, 35, 41);
  border: none;
  font-weight: 900;
  z-index: 1;
  font-size: 5.625rem;
}

.filters {
  background: #d3d3d3;
  padding: 15px;
}

.list-group-item.active {
  background: #00a384 !important;
}

.avatar {
  width: 38px;
  border-radius: 105px;
  text-align: left;
  float: left;
}

.bg-picture {
  height: 30px;
}

.modal-bold-text {
  text-transform: uppercase;
  color: white;
  text-shadow: 4px 5px 10px black;
  font-weight: 800;
  font-size: 20px;
}

.scroll-div {
  max-height: 300px;
  overflow: hidden;
  overflow-y: scroll;
}